.integrate-section {
  background: #fff6f2;
  gap: 45px;
  padding-bottom: 80px;
  display: flex
;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.integrate-visual {
  --circle-size: 520px;
  position: relative;
  width: var(--circle-size);
  height: var(--circle-size);
  max-width: 95vw;
  max-height: 95vw;
}

.integrate-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, #ff6600 0%, #fff6f2 80%, transparent 100%);
  transform: translate(-50%, -50%);
  filter: blur(40px);
  z-index: 0;
}

.ring {
  position: absolute;
  border-radius: 50%;
  border: 2px dashed #ff6600;
  background: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ring1 {
  width: 77%;
  height: 77%;
  opacity: 0.25;
}

.ring2 {
  width: 50%;
  height: 50%;
  opacity: 0.18;
}

.ring3 {
  width: 92%;
  height: 92%;
  opacity: 0.12;
}

.integrate-center-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30%;
  height: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #ff6600;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-logo {
  width: 50%;
}

.integrate-icon {
  position: absolute;
  width: 15%;
  height: 15%;
  /* background: #cec499; */
  border-radius: 50%;
  box-shadow: 0 2px 24px rgba(255, 102, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: rotate(var(--angle)) translate(46%) rotate(calc(-1 * var(--angle)));
  z-index: 3;
  border: 1px solid gray;
}

.integrate-icon img {
  width: 50%;
}
